.bl_sidebar {
  border-right: 1px solid #e8e8e9;
  height: 100vh
}

.bl_flexContent {
  display: flex;
}

.bl_imgUploadBody {
  margin: 0 auto;

}

.bl_sidebar {
  padding-top: 10px;
  box-shadow: 10px solid #bbb
}

.bl_btn {
  width: 90%;
  margin-top: 20px;
  border-radius: 10px;
}

.bl_imgUploadLabel {
  width: 30%;
  background-color: #ececec;
  border-radius: 9%;
  border: 1px solid;
  padding: 60% 50% 60% 40%;
  font-size: 45px;
  color: #fff;
  margin-top: 35%;
}



.bl_styleP {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  letter-spacing: .01em;
  padding-top: 55px;
}

.dlete_style {
  display: none;
}



@media screen and (max-width: 414px) {
  .sidebar {
    display: none;
  }

  .img_upload {
    padding: 44% 25%;
    margin-top: 5%;
  }

  .mainname {
    font-size: 12px;
    margin-top: 19%;
    margin-bottom: 20%;
  }

  .registerBtn {
    width: 55%;
    padding: 10px 20px;
    margin: 20px auto
  }
}