.bl_form {
    display: block;
    width: 33%;
    margin: 0 auto;
}

.bl_InforamationP {
    font-size: 2rem;
    text-align: center;
    line-height: 1.35;
    font-weight: 300;
}

.bl_averageFont {
    font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 700;
    letter-spacing: .01em;
}

/* 画像の鮮度を保つ方法を模索する*/
.bl_imgWrapper {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

.bl_myImgSize {
    width: 100%;
}

.btn {
    margin: 0 auto;
    width: 60%
}

.btn_size {
    margin-top: 20px;
    padding: 15px 30px;
    width: 100%
}

/* loading */
.Loader,
.Loader:before,
.Loader:after {
    background: #f40101;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.Loader {
    color: #f40101;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.Loader:before,
.Loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.Loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.Loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@media screen and (max-width: 414px) {
    .main_img {
        display: none;
    }

    /* AP版のformのスタイルを整える */
    .form {
        margin-top: 30px;
    }

    /* SP版のボタンを真ん中にしたい */
    .submitbtn {
        text-align: center;
    }

    .submitbtn_size {
        margin-top: 10px;
        width: 60%;
        border-radius: 14px;
    }
}