.main_img {
    max-width: 800px;
    height: 100vh;
    margin: 0%;
}

.form {
    margin-top: 14%;
    margin-left: -5%;
    width: 80%;
}

.submitbtn_size {
    margin-top: 20px;
    width: 40%;
    padding: 15px 30px
}

.myImg {
    margin-bottom: 25px;
    width: 110%;
    margin-right: 15%;
}

@media screen and (max-width: 414px) {
    .main_img {
        display: none;
    }

    /* AP版のformのスタイルを整える */
    .form {
        margin-top: 30px;
    }

    /* SP版のボタンを真ん中にしたい */
    .submitbtn {
        text-align: center;
    }

    .submitbtn_size {
        margin-top: 10px;
        width: 60%;
        border-radius: 14px;
    }
}